.Navbar_container {
    width: 100%;
}

.Navbar_container ul {
    width: calc(538px + 10%);
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0%;
    top: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.174) 50%, rgba(37, 37, 37, 0.323) 90%, rgba(23, 23, 23, 0) 100%);
    backdrop-filter: blur(5px);
    border-radius: 5px 0 0 5px;
    z-index: 1;
    gap: 50px;
}

.Navbar_container ul li{
   padding:20px 0 30px;
}

.Navbar_container .icon {
    z-index: 2;
    width: 45px;
    height: 40px;
    position: absolute;
    right: 50px;
    top: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.barra{
    position: absolute;
    left: 120px;
    top: 55px;
    border: 1px solid rgba(188, 187, 187, 0.142);
    width: 50vw;
}

.Navbar_container li {
    display: inline;
    padding-bottom: 30px;
}

.Navbar_container span {
    margin-right: 5px;
    font-weight: 800;
    color: #fff;
}

.Navbar_container a {
    cursor: pointer;
    padding:2px 0 30px;
    color:#d0d6f9;
    font-weight: 500;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.Navbar_container a:hover {
    padding-bottom: 25px;
    border-bottom: 5px solid #ffffffe0;
    color: #ffffffd7;
}

.Navbar_container .selected{
    padding-bottom: 25px;
    border-bottom: 5px solid #ffffff;
    color: #ffffff;
}

@media (max-width: 1024px){
    .Navbar_container {
        gap: 40px;
    }

    .Navbar_container ul {
        width: calc(438px + 10%);
        padding-right: 10%;
    }

    .Navbar_container span {
        display: none;
    }
}

@media (min-width: 668px) {    
    .Navbar_container .icon{
        display: none;
    }
}

@media (max-width: 768px) {
    .barra {
        display: none;
    }
}

@media (max-width: 668px) {
    .Navbar_container ul{
        display: none;
    }
    .Navbar_container > .menu{
        z-index: 2;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #43434316;
        backdrop-filter: blur(20px);
        position: fixed;
        top: 0%;
        right: 0%;
        gap: 10%;
    }

    .Navbar_container > .menu li {
        display: flex;
        align-items: center;
        padding:0;
        margin-left: 25%;
        width: 90%;
    }

    .Navbar_container > .menu span {
        display: inline;
    }

    .Navbar_container > .menu a {
        width: 95%;
        padding: 10px 0px;
        gap: 40px;
    }

    .Navbar_container > .menu a:hover {
        padding-bottom: 10px;
        border-bottom: none;
        border-right: 20px solid #c8c8c8;
        color: #aeabab;
    }

    .Navbar_container > .menu .selected {
        padding-bottom: 10px;
        border-bottom: none;
        border-right: 20px solid #ffffff;
        color: #ffffff;
    }
}

@media (min-width: 667px ) {
    .Navbar_container .icon {
        display: none;
    }
}

@media (max-width: 524px)  {
    .Navbar_container .icon {
        right: 30px;
        top: 30px;
        width: 35px;
        height: 30px;
    }
}

@media (max-width: 424px)  {
    .Navbar_container .icon {
        width: 25px;
        height: 20px;
    }
}