.container {
    margin-top: 0;
    height: 100vh;
}

.container .img {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 40px;
    height: 40px;
}

.container .img:hover {
    transition: .5s;
    transform: scale(1.1);
}
   
.container.home {
    background: url(../img/home/background-home-desktop.jpg) center center no-repeat fixed;
    background-size: cover;
}
.container.destination {
    background: url(../img/destination/background-destination-desktop.jpg) center center no-repeat fixed;
    background-size: cover;
}
.container.crew {
    background: url(../img/crew/background-crew-desktop.jpg) center center no-repeat fixed;
    background-size: cover;
}
.container.technology {
    background: url(../img/technology/background-technology-desktop.jpg) center center no-repeat fixed;
    background-size: cover;
}

@media (max-width: 1024px ) {
    .container.home {
        background-image: url(../img/home/background-home-tablet.jpg);
    }
    .container.destination {
        background-image: url(../img/destination/background-destination-tablet.jpg);
    }
    .container.crew {
        background-image: url(../img/crew/background-crew-tablet.jpg);
    }
    .container.technology {
        background-image: url(../img/technology/background-technology-tablet.jpg);
    }
}

@media (max-width: 768px ) {
    .container.home {
        background-image: url(../img/home/background-home-mobile.jpg);
    }
    .container.destination {
        background-image: url(../img/destination/background-destination-mobile.jpg);
    }
    .container.crew {
        background-image: url(../img/crew/background-crew-mobile.jpg);
    }
    .container.technology {
        background-image: url(../img/technology/background-technology-mobile.jpg);
    }
}

@media (max-height:924px) and (max-width: 925px) {
    .container{
        overflow-x: hidden;
        height: 100%;
    }
}

@media (max-width: 524px)  {
    .container .img {
        left: 30px;
        top: 30px;
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 424px)  {
    .container .img {
        width: 25px;
        height: 25px;
    }
}




