.crew_container {
    display: grid;
    grid-template-columns: 55% 75%;
    grid-template-rows: 25% 5% 12% 30% 10%;
    width: 85%;
    height: 70%;
    position: absolute;
    bottom: 0vh;
    left: 150px;
    right: 5px;
    color: white;
}

.crew_container img {
    position: absolute;
    right: 0%;
    height: 100%;
    width: auto;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    border-bottom: 2px solid rgba(59, 59, 59, 0.524) ;
}

.crew_container h2,
.crew_container p,
.crew_container h3,
.crew_container h1 {
    grid-column-start: 1;
}

.crew_container h2 {
    grid-row-start: 1;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.7px;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
}


.crew_container h2 span {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color:#6b6e7d;
    margin-right: 10px;
}

.crew_container h3 {
    grid-row-start: 2;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color:#6b6e7d;
}

.crew_container h1 {
    font-size: 48px;
    grid-row-start: 3;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.crew_container p {
    grid-row-start: 4;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: #6b6e7d;
    max-width: 440px;
}

.crew_container nav {
    grid-row-start: 5;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
}

.crew_container nav  li {
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-color: rgba(102, 100, 100, 0.286);
    border-radius: 100%;
}

.crew_container .selected {
    background-color: rgb(235, 235, 235);
}

.crew_container nav li:hover {
    background-color: rgba(212, 212, 212, 0.524);
    transform: scale(105%);
    transition: .5s;
}

@media (max-width: 1068px) and (min-width: 958px) and (min-height: 1358px) {
    .crew_container {
        width: 100%;
        padding-top: 200px;
        grid-template-columns: 100%;
        grid-template-rows: 200px 20px 80px 150px 20px 520px;
        position: relative;
        left: auto;
        bottom: auto;
        right: auto;
        text-align: center;
        margin: 0;
    }

    .crew_container h2,
    .crew_container h1,
    .crew_container h3,
    .crew_container img,
    .crew_container nav,
    .crew_container p {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0 auto;
    }

    .crew_container h2 {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
        padding-left: 50px;
        grid-row-start: 1;
    }

    .crew_container h3 {
        grid-row-start: 2;
    }

    .crew_container h1 {
        grid-row-start: 3;
    }

    .crew_container p {
        display: flex;
        justify-content: center;
        max-width: none;
        text-align: center;
        width: 70%;
        grid-row-start: 4;
    }

    .crew_container nav {
        padding-bottom: 5px;
        grid-row-start: 5;
    }

    .crew_container img {
        height: 100%;
        width: auto;
        right: auto;
        padding: 0 20%;
        position: relative;
        grid-row-start: 6;
    }

}

@media (max-width: 1068px) {
    .crew_container {
        left: 50px;
    }

    .crew_container h1 {
        font-size: 38px;
    }
}

@media (max-width: 924px) {
    .crew_container {
        width: 100%;
        padding-top: 180px;
        grid-template-columns: 100%;
        grid-template-rows: 80px 20px 80px 150px 20px 520px;
        position: relative;
        left: auto;
        bottom: auto;
        right: auto;
        text-align: center;
        margin: 0;
    }

    .crew_container h2,
    .crew_container h1,
    .crew_container h3,
    .crew_container img,
    .crew_container nav,
    .crew_container p {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0 auto;
    }

    .crew_container h2 {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        grid-row-start: 1;
    }

    .crew_container h3 {
        grid-row-start: 2;
    }

    .crew_container h1 {
        grid-row-start: 3;
    }

    .crew_container p {
        display: flex;
        justify-content: center;
        max-width: none;
        text-align: center;
        width: 70%;
        grid-row-start: 4;
    }

    .crew_container nav {
        padding-bottom: 5px;
        grid-row-start: 5;
    }

    .crew_container img {
        height: 100%;
        width: auto;
        right: auto;
        padding: 0 20%;
        position: relative;
        grid-row-start: 6;
    }
}

@media (max-width: 724px) {
    .crew_container {
        padding-top: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .crew_container h2 {
        padding: 0;
        text-align: center;
    }

    .crew_container h3 {
        margin-top: 20px;
    }

    .crew_container h1 {
        margin: 5px 0 20px;
    }

    .crew_container p {
        line-height: 24px;
        font-size: 16px;
        width: 90%;
        padding-bottom: 20px;
    }

    .crew_container nav {
        padding-bottom: 5px;
    }

    .crew_container img {
        height: 400px;
        margin: 20px;
        padding: 0 20%;
    }
}

@media (max-width: 568px) {
    .crew_container h2 span,
    .crew_container h2 {
       font-size: 18px;
    }

    .crew_container h3 {
        font-size: 20px;
        margin-top: 20px;
    }

    .crew_container h1 {
        font-size: 28px;
        margin: 2px 0 15px;
    }

    .crew_container p {
        padding-bottom: 15px;
        width: 95%;
    }

    .crew_container nav {
        gap: 20px;
        padding-bottom: 5px;
    }

    .crew_container nav li {
        width: 20px;
        height: 20px;
    }

    .crew_container img {
        height: 300px;
        margin: 20px;
        padding: 0 20%;
    }
}

@media (max-width: 375px) {
    .crew_container {
        padding-top: 100px;
    }

    .crew_container h2 span,
    .crew_container h2 {
       font-size: 16px;
    }

    .crew_container h3 {
        font-size: 18px;
    }

    .crew_container h1 {
        font-size: 22px;
    }

    .crew_container nav li {
        width: 10px;
        height: 10px;
    }

    .crew_container img {
        height: 260px;
    }
}


@media (max-width: 300px) {
    .technology_container {
        padding-top: 50px;
    }

    .crew_container h2 span,
    .crew_container h2 {
        letter-spacing: 1.7px;
        font-size: 16x;
    }

    .crew_container nav li {
        font-size: 10px;
    }

    .crew_container h3 {
        font-size: 12px;
        margin-top: 10px;
    }

    .crew_container h1 {
        font-size: 14px;
        margin: 2px 0 10px;
    }

    .crew_container p {
        padding-bottom: 10px;
    }

    .crew_container nav {
        padding-bottom: 2px;
    }

    .crew_container img {
        height: 200px;
        margin: 10px 0;
    }
}

@media (min-height: 624px) and (max-width: 724px){
    .crew_container {
        padding-top: 80px;
        overflow: hidden;
        height: 100vh;
    }
}

@media (min-height: 1024px) and (max-width: 1024px){
    .crew_container {
        padding-top: 160px;
        overflow: hidden;
        height: 100vh;
    }
}