/*
CSS from desktop
*/

.destination_container {
    display: grid;
    width: 85%;
    height: 80%;
    position: absolute;
    bottom: 0vh;
    left: 150px;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 10% 17% 25% 25% 12%;
}

.destination_container h2 {
    padding-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.7px;
    color: white;
    grid-row-start: 1;
    grid-column-end: 4;
}

.destination_container h2 span {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-size: 22px;
    color:#6b6e7d ;
    margin-right: 10px;
}

.destination_container img {
    margin-left: 80px;
    width: 380px;
    height: 380px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-end: 1;
}

.destination_container h2,
.destination_container img {
    grid-column-start: 1;
}

.destination_container h1,
.destination_container p,
.destination_container ul,
.destination_container div,
.destination_container nav {
    grid-column-start: 2;
    grid-column-end: 4;
}

.destination_container nav {
    width: 80%;
    grid-row-start: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
}

.destination_container nav li {
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #6b6e7d;
    font-weight: 500;
    letter-spacing: 4.7px;
    font-family: 'Barlow Condensed', sans-serif;
}

.destination_container nav li:hover {
    border-bottom: 2px solid #d5d4d4;
    color: #d6d6d6c6;
    padding-bottom: 8px;
}

.destination_container .selected{
    border-bottom: 2px solid #ffffffd5;
    color: #ffffffc6;
    padding-bottom: 8px;
}

.destination_container h1 {
    grid-row-start: 3;
    text-transform: uppercase;
    font-size: 7em;
    font-weight: 500;
    font-family: 'Bellefair', serif;
    color: #fff;
}

.destination_container p {
    grid-row-start: 4;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: #6b6e7d;
    padding-bottom: 20px;
    border-bottom: 5px solid #0b0d17;
}

.destination_container .dado {
    display: flex;
    flex-direction: column;
    justify-content: left;
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
}

.destination_container h3 {
    color: #6b6e7d;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

.destination_container .infor {
    display: flex;
    flex-direction: column;
    text-align: right;
    grid-row-start: 5;
    grid-column-start: 3;
}

.destination_container div span {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}

@media (min-width: 900px) and (max-width: 1124px) and (max-height: 824px)  {
    .destination_container img  {
        padding-left: 0;
    }
    
    .destination_container .dado {
        gap: 35%;
    }
    
    .destination_container .infor {
        gap: 20%;
    }
}

@media (max-width: 1068px) and (max-height: 900px) {
    .destination_container {  
        left: 50px;
        grid-template-columns: 60% 30% 24%;
    }

    .destination_container img {
        margin-left: 0;
        margin-right: 50px;
    }
}

/*
CSS from tablet
*/

@media (max-width: 1024px) and (min-height: 900px) {
    .destination_container {
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .destination_container h2 {
        width: 100%;
        margin-left: 85px;
        text-align: left;
    }

    .destination_container img {
        padding: 0;
        margin: 50px 0;
    }

    .destination_container nav {
        width: min-content;
    }

    .destination_container h1 {
        margin: 10px 0;
    }
    .destination_container p {
        padding: 10px 0 50px;
        width: 80%;
    }

    .destination_container .dado {
        gap: 80px;
    }

    .destination_container .infor {
        gap: 50px;
    }
}

@media (min-width: 768px) and (max-width: 850px) and (max-height: 1124px) {
    .destination_container {
        position: relative;
        top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .destination_container img {
        margin: 30px 0;
    }
} 

/*
CSS from Mobile
*/

@media (max-width: 768px) {
    .destination_container {
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .destination_container img {
        width: 300px;
        height: 300px;
        margin: 20px 0;
        padding-left: 0;
    }

    .destination_container h1 {
        font-size: 6em;
    }

    .destination_container nav {
        gap: 20px;
        padding-right: 0;
        margin-right: 0;
        width: min-content;
    }

    .destination_container p {
        width: 90%;
        text-align: center;
    }

    .destination_container .dado {
        gap: 100px;
    }
    
    .destination_container .infor {
        gap: 60px;
    }

}

@media (max-width: 468px) {
    .destination_container {
        padding-top: 80px;
    }

    .destination_container h2 {
        font-size: 18px;
    }

    .destination_container img {
        width: 280px;
        height: 280px;
    }

    .destination_container nav {
        gap: 20px;
    }

    .destination_container h1 {
        font-size: 5em;
    }

    .destination_container .dado {
        margin-top: 20px;
        display: grid;
        gap: 50px;
    }
    
    .destination_container .infor {
        gap: 40px;
        display:  flex;
        flex-direction: column;
        margin-top: -70px;
    }
}

@media (max-width: 300px) {
    .destination_container {
        padding-top: 40px;
    }

    .destination_container h2 span {
        font-size: 12px;
        margin-right: 4px;
    }

    .destination_container h2 {
        letter-spacing: 2px;
        font-size: 12px;
        margin-top: 0px;
    }

    .destination_container img {
        width: 150px;
        height: 150px;
    }

    .destination_container nav {
        gap: 10px;
    }

    .destination_container h1 {
        font-size: 60px;
    }

    .destination_container nav li {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .destination_container p {
        line-height: normal;
        font-size: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
} 

@media (min-height: 883px) and (max-width: 1024px) {
    .destination_container {
        height: 100vh;
    }
}

@media (max-height: 883px) and (max-width:768px) {
    .destination_container {
        height: 100%;
    }

} 