.destination_container {
    display: grid;
    width: 85%;
    height: 80%;
    position: absolute;
    bottom: 0vh;
    left: 150px;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 10% 15% 150px 150px ;
}

.destination_container h2 {
    padding-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.7px;
    color: white;
    grid-row-start: 1;
    grid-column-end: 4;
}

.destination_container h2 span {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    font-size: 22px;
    color:#6b6e7d ;
    margin-right: 10px;
}

.destination_container img {
    margin-left: 80px;
    width: 380px;
    height: 380px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-end: 1;
}

.destination_container h2,
.destination_container img {
    grid-column-start: 1;
}

.destination_container h1,
.destination_container p,
.destination_container ul,
.destination_container div,
.destination_container nav {
    grid-column-start: 2;
    grid-column-end: 4;
}

.destination_container nav {
    width: 80%;
    grid-row-start: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
}

.destination_container nav li {
    cursor: pointer;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #6b6e7d;
    font-weight: 500;
    letter-spacing: 4.7px;
    font-family: 'Barlow Condensed', sans-serif;
}

.destination_container nav li:hover {
    border-bottom: 2px solid #d5d4d4;
    color: #d6d6d6c6;
    padding-bottom: 8px;
}

.destination_container .selected{
    border-bottom: 2px solid #ffffffd5;
    color: #ffffffc6;
    padding-bottom: 8px;
}

.destination_container h1 {
    grid-row-start: 3;
    text-transform: uppercase;
    font-size: 7em;
    font-weight: 500;
    font-family: 'Bellefair', serif;
    color: #fff;
}

.destination_container p {
    grid-row-start: 4;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: #6b6e7d;
    padding-bottom: 50px;
    border-bottom: 2px solid #1e1e1e;
}

.destination_container .dado {
    display: flex;
    flex-direction: column;
    justify-content: left;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
    gap: 5px;
}

.destination_container h3 {
    color: #6b6e7d;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

.destination_container .infor {
    display: flex;
    flex-direction: column;
    text-align: right;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    gap: 5px;
}

.destination_container div span {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}

@media (max-width: 1068px) and (min-width: 958px) and (min-height: 1358px) {
    .destination_container {
        position: relative;
        padding-top: 150px;
        display: flex;
        flex-direction:  column;
        align-items: center;
        width: 100%;
        left: auto;
    }

    .destination_container h2 span,
    .destination_container h2 {
        letter-spacing: 2.7px;
        font-size: 22px;
    }

    .destination_container h2 {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        padding-left: 50px;
    }

    .destination_container nav {
        margin: 20px 0;
        width: auto;
    }

    .destination_container img {
        width: 400px;
        height: 400px;
    }

    .destination_container .dado {
        width: 50%;
        text-align: left;
    }

    .destination_container .infor {
        margin-top: -55px;
        width: 50%;
        text-align: right;
    }
    
}

@media (max-width: 1068px) {
    .destination_container {
        width: 90%;
        left: 50px;
        grid-template-columns: 50% 25% 25%;
    }

    .destination_container img {
        margin-left: 10px;
    }
}

@media (max-width: 924px) {
    .destination_container {
        position: relative;
        padding-top: 150px;
        display: flex;
        flex-direction:  column;
        align-items: center;
        width: 100%;
        left: auto;
    }

    .destination_container h2 span,
    .destination_container h2 {
        letter-spacing: 2.7px;
        font-size: 22px;
    }

    .destination_container h2 {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        padding-left: 50px;
    }

    .destination_container nav {
        margin: 20px 0;
        width: auto;
    }

    .destination_container img {
        width: 400px;
        height: 400px;
    }

    .destination_container .dado {
        width: 50%;
        text-align: left;
    }

    .destination_container .infor {
        margin-top: -55px;
        width: 50%;
        text-align: right;
    }
}


@media (max-width: 724px) {
    .destination_container {
        position: relative;
        padding-top: 120px;
        display: flex;
        flex-direction:  column;
        align-items: center;
        width: 100%;
    }

    .destination_container h2 span,
    .destination_container h2 {
        letter-spacing: 2.7px;
        font-size: 22px;
    }

    .destination_container h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        padding-left: 0;
    }

    .destination_container nav {
        margin: 20px 0;
        width: auto;
    }

    .destination_container img {
        width: 260px;
        height: 250px;
    }

    .destination_container p {
        max-width: none;
        width: 95%;
    }

    .destination_container .dado {
        width: 100%;
        text-align: center;
    }

    .destination_container .infor {
        margin-top: 0px;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 424px) {
    .destination_container {
        padding-top: 64px;
    }

    .destination_container h2 span,
    .destination_container h2 {
        letter-spacing: 2.7px;
        font-size: 20px;
    }

    .destination_container h1 {
        font-size: 90px;
    }

    .destination_container nav {
        gap: 5px;
    }

    .destination_container img {
        width: 200px;
        height: 200px;
    }

    .destination_container p {
        font-size: 16px;
    }
}

@media (max-width: 424px) {
    .destination_container h2 span,
    .destination_container h2 {
        font-size: 18px;
    }

    .destination_container h1 {
        font-size: 70px;
    }

    .destination_container nav {
        gap: 10px;
    }

    .destination_container nav li {
        font-size: 14px;
    }

    .destination_container img {
        width: 180px;
        height: 180px;
    }

    .destination_container p {
        line-height: 24px;
    }
}

@media (max-width: 350px) {
    .technology_container {
        padding-top: 80px;
    }

    .destination_container h2 span,
    .destination_container h2 {
        font-size: 16px;
    }

    .destination_container h1 {
        font-size: 60px;
    }

    .destination_container nav li {
        font-size: 12px;
    }
}

@media (max-width: 300px) {
    .destination_container {
        padding-top: 50px;
    }
}

@media (min-height: 724px) and (max-width: 724px){
    .destination_container {
        overflow: hidden;
        height: 100vh;
    }
    
    .destination_container .infor {
        padding-bottom: 10px;
    }
}

@media (min-height: 924px) and (max-width: 1024px){
    .crew_container {
        overflow: hidden;
        height: 100vh;
    }
    
    .destination_container .infor {
        padding-bottom: 10px;
    }
}