.home_container {
    display: grid;
    width: 80%;
    height: 80%;
    grid-template-columns: 50% 30%;
    grid-template-rows: 30% 30% 35% 20%;
    position: absolute;
    top: auto;
    bottom: 0vh;
    left: 10%;
    z-index: 0;
    grid-auto-rows: auto;
    color: white;
}

.home_container h2 {
    letter-spacing: 2.7px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    color: #6b6e7d;
}

.home_container h1 {
    font-weight: 500;
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 150px;
    text-transform: uppercase;
    font-family: 'Bellefair', serif
}

.home_container p {
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    max-width: 440px;
    grid-column-start: 1;
    grid-row-start: 3;
    text-align: justify;
    color: #6b6e7d;
    text-shadow: none;
}

.home_container button {
    color: #000000;
    font-family: 'Cousine', monospace;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.612);
    height: 240px;
    width: 240px;
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    right: 0%;
    font-size: 1.8em;
    text-transform: uppercase;
    text-shadow: none;
}

.home_container button:hover {
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.056);
}


@media (max-width: 1068px) and (min-width: 958px) and (min-height: 1358px) {
    .home_container {
        padding-top: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        transform: translate(0, 0);
    }

    .home_container h2 {
        font-size: 2em;
        margin-bottom: 30px;
    }
    
    .home_container h1 {
        font-size: 250px;
        margin-bottom: 30px;
    }

    .home_container p {
        max-width: none;
        margin-bottom: 30px;
        width: 80%;
    }

    .home_container button {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: 300px;
        height: 300px;
        font-size: 3em;
        margin: 50px 0;
    }
}

@media (min-width: 900px) and (max-width: 1124px) and (max-height: 924px)  {
    .home_container button {
        width: 230px;
        height: 230px;
        font-size: 1.8em;
    }
}

@media (max-width: 924px) {
    .home_container {
        padding-top: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        transform: translate(0, 0);
    }

    .home_container h2 {
        margin-bottom: 30px;
    }
    
    .home_container h1 {
        margin-bottom: 30px;
    }

    .home_container p {
        font-size: 20px;
        margin-bottom: 30px;
        width: 75%;
    }

    .home_container button {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        width: 300px;
        height: 300px;
        font-size: 3em;
        margin: 50px 0;
    }
}

@media (min-width: 668px) and (max-width: 924px){    
    .home_container h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    
    .home_container h1 {
        font-size: 160px;
        margin-bottom: 30px;
    }

    .home_container p {
        text-align: center;
        font-size: 25px;
        max-width: none;
        line-height: 40px;
        margin-bottom: 30px;
    }
}

@media (max-width: 524px) {
    .home_container {
        padding-top: 100px;
    }

    .home_container h2 span,
    .home_container  h2 {
        font-size: 16px;
    }

    .home_container h1 {
        font-size: 100px;
        margin: 0;
    }

    .home_container p {
        width: 90%;
        font-size: 16px;
    }

    .home_container button {
        margin-top: 40px;
        width: 200px;
        height: 200px;
        font-size: 1.8em;
    }
}


@media (max-width: 390px) {
    .home_container h2 span,
    .home_container  h2 {
        letter-spacing: 2px;
        font-size: 14px;
    }

    .home_container h1 {
        font-size: 80px;
    }

    .home_container p {
        width: 95%;
    }

    .home_container button {
        margin-top: 20px;
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 300px) {
    .home_container {
        margin-top: 0px;
    }

    .home_container h2 span,
    .home_container  h2 {
        font-size: 12px;
        letter-spacing: .7px;
        margin-bottom: 10px;
    }

    .home_container h1 {
        font-size: 60px;
    }

    .home_container p {
        line-height: normal;
    }

    .home_container button {
        margin-top: 10px;
        width: 120px;
        height: 120px;
        font-size: 1.2em;
    }
}

@media (min-height: 624px) and (max-width: 724px){
    .home_container {
        padding-top: 40px;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
    }

    .home_container button {
        margin-top: 20px;
    }
}


@media (min-height: 924px) and (max-width: 1024px){
    .home_container {
        padding-top: 40px;
        justify-content: center;
        overflow: hidden;
        height: 100vh;
    }

    .home_container button {
        margin-top: 20px;
    }
}