/*
CSS from desktop
*/

.technology_container {
    display: grid;
    grid-template-columns: 10% 55% 50%;
    grid-template-rows: 30% 5% 20% 40%;
    height: 70%;
    width: 100%;
    position: fixed;
    left: 120px;
    bottom: 0vh;
}

.technology_container h2 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.7px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

.technology_container h2 span {
    font-weight: 800;
    font-size: 22px;
    color:#6b6e7d;
    margin-right: 10px;
}

.technology_container nav,
.technology_container h2 {
    grid-column-start: 1;
}

.technology_container img {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    width: auto;
    height: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.technology_container p,
.technology_container h1,
.technology_container h3 {
    grid-column-start: 2;
    width: 100%;
}

.technology_container p {
    font-family: 'Barlow Condensed', sans-serif;
    grid-row-start: 4;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: #6b6e7d;
    max-width: 440px;
}

.technology_container h1 {
    letter-spacing: 2.7px;
    color: #fff;
    grid-row-start: 3;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
}

.technology_container h3 {
    letter-spacing: 2.7px;
    grid-row-start: 2;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: #6b6e7d;
}

.technology_container nav {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 6;
    gap: 40px;
}

.technology_container nav li {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bellefair', serif;
    font-size: 22px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #91919188;
    cursor: pointer;
}

.technology_container .selected {
    background-color: #fff;
    color: #0b0d17;
}

.technology_container nav li:hover {
    border: 2px solid rgba(220, 220, 220, 0.8);
    transform: scale(103%);
    transition: .5;
}

@media (min-width: 993px) and (max-width: 1324px) and (min-height: 768px)  {
    .technology_container {
        width: 100%;
        height: 80%;
        grid-template-columns: 8% 55% 50%;
        grid-template-rows: 30% 5% 10% 30%;
        left: 50px;
    }

    .technology_container h1 {
        font-size: 36px;
    }

    .technology_container nav {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .technology_container p {
        width: 100%;
        max-width: 420px;
    }
}

@media (min-width: 1024px) and (max-width: 1324px) and (min-height: 768px)  {
    .technology_container {
        width: 100%;
        height: 70%;
        grid-template-columns: 10% 55% 50%;
        left: 10%px;
    }
}

/*
CSS to screens from tablet
*/

@media (max-width: 1068px) and (min-height: 1324px) {
    .technology_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        top: auto;
        left:0;
        bottom: auto;
    }

    .technology_container h2 {
        padding: 0 0 20px;
    }

    .technology_container img {
        position: relative;
        padding-top: 100px;
        height: min-content;
        width: 100vw;
        bottom: auto;
        right: auto;
    }

    .technology_container nav {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
        margin: 20px;
    }

    .technology_container nav li {
        width: 50px; 
        height: 50px;
    }

    .technology_container h1 {
        padding: 5px 0 20px;
    }
}

@media (min-width: 524px) and (max-width: 1124px) and (min-height: 924px)  {
    .technology_container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left: auto;
        width: 100vw;
        bottom: auto;
    }

    .technology_container h2 {
        padding: 0 0 0 50px;
        text-align: left;
        width: 100%;
    }

    .technology_container img {
        position: relative;
        height: auto;
        width: 100vw;
        padding: 30px 0;
    }

    .technology_container h3{
        font-size: 16px;
        text-align: center;
    }

    .technology_container h1 {
        font-size: 36px;
        padding: 5px 0 30px;
        text-align: center;
    }

    .technology_container nav {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .technology_container p {
        max-width: none;
        width: 90%;
        position: relative;
    }
}

/*
CSS from Mobile
*/

@media (max-width: 768px) and (max-height: 924px) {
    .technology_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100vw;
        bottom: auto;
        left:0;
    }

    .technology_container h2 {
        position: absolute;
        top: auto;
        left: 30px;
        bottom: auto;
        padding: 0px 0 20px;
    }

    .technology_container img {
        padding-top: 60px;
        height: min-content;
        width: 100vw;
        position: relative;
        bottom: auto;
        right: auto;
    }

    .technology_container nav {
        display: flex;
        flex-direction: row;
        padding: 10px 0;
    }

    .technology_container nav li {
        width: 40px; 
        height: 40px;
    }

    .technology_container h3 {
        text-align: center;
    }

    .technology_container h1 {
        text-align: center;
        padding: 5px 0 20px;
    }
}

@media (max-width: 568px) {
    .technology_container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .technology_container h2 {
        position: relative;
        padding: 0;
        left: auto;
        text-align: center;
        top: auto;
    }

    .technology_container img {
        position: relative;
        top: auto;
        padding: 20px 0 10px;
        bottom: auto;
        right: auto;
    }

    .technology_container nav {
        padding: 10px 0 20px;
    }

    .technology_container h1 {
        font-size: 24px;
        padding: 10px 0 20px;
    }

    .technology_container p {
        text-align: center;
        max-width: none;
        width: 90%;
    }
}

@media (min-height: 624px)  and (max-width: 1024px) {
    .technology_container {
        height: 100vh;
    }

    .technology_container h2 {
        padding-top: 25%;
    }
}

@media (max-height: 624px) and (max-width:768px){
    .technology_container {
        height: 100%;
    }

    .technology_container h2 {
        padding-top: 25%;
    }
}


@media (max-height: 424px) {
    .technology_container h2 {
        font-size: 8px;
        padding-top: 25%;
    }

    .technology_container h2 span{
        font-size: 8px;
    }

    .technology_container h1 {
        padding: 0 0 5px;
        font-size: 16px;
    }

    .technology_container nav {
        padding: 5px 0;
        gap: 10px;
    }

    .technology_container nav li {
        width: 20px;
        height: 20px;
        font-size: 5px;
    }

    .technology_container h3 {
        font-size: 10px;
    }

    .technology_container p {
        letter-spacing: normal;
        line-height: normal;
        width: 98%;
        font-size: 13px;
    }
}
