* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700;900&family=Bellefair&display=swap');

html{
  width: 100vw;
  height: 100vh;
}

body{
  overflow-x: hidden;
  background-color: black;
}

@media (min-height: 858px) {
  html,
  body {
    overflow: hidden;
  }
}

/*
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

:root {
  --color-c0: #6b6e7d;
  --color-c1: #d0d6f9;
  --color-c2: #0b0d17;
  --color-c3: #ffffff;
}
